@import "variables";

body {
  background-color: $color-background;
  color: $color-text;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.button {
  background-color: $color-primary;
  border: none;
  border-radius: 0.3125rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.625rem;
  padding: 0.625rem 1.25rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color-primary-hover;
  }

  &:last-child {
    margin-right: 0;
  }

  &--active {
    background-color: $color-active;
    color: #f8f8f8;

    &:hover {
      background-color: $color-active-hover;
      color: #fff;
    }
  }

  &--complete {
    background-color: $color-complete;
    border: 0.0625rem solid $color-complete-border;
    color: #020203;

    &:hover {
      background-color: $color-complete-hover;
    }
  }

  &--create {
    font-size: 1rem;
    height: 2.25rem;
    width: 6.5rem;
  }

  &--filter {
    background-color: $color-complete;
    border: 0.0625rem solid $color-complete-border;
    color: #020203;

    &:hover {
      background-color: $color-complete-hover;
    }
  }

  &--incomplete {
    background-color: $color-incomplete;
    border: 0.0625rem solid $color-incomplete-border;
    color: #020203;

    &:hover {
      background-color: $color-incomplete-hover;
    }
  }

  &--load-more,
  &--show-less {
    background-color: $color-load-more;
    border: none;
    border-radius: 0.3125rem;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 1.25rem auto;
    padding: 0.625rem 1.25rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-load-more-hover;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 81.875rem;
  padding: 0.3125rem;
}

.edit-input {
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  width: 90%;
}

.error-message {
  color: $color-error;
  margin: 0.625rem 0;
}

.header {
  &__title {
    color: $color-task-title;
    font-size: 1.875rem;
    font-weight: bold;
    margin-top: 7.5rem;
  }
}

.hidden {
  display: none !important;
}

.navbar {
  align-items: center;
  background-color: #f4f4f9;
  border-bottom: 0.0625rem solid #dde2ff;
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  left: 0;
  padding: 0.625rem 1.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &__logo {
    align-items: center;
    display: flex;
  }

  &__search-container {
    align-items: center;
  }

  &__search-icon {
    cursor: pointer;
    margin-right: 21.25rem;
  }

  &__search-input {
    border: 0.0625rem solid #ddd;
    border-radius: 0.3125rem;
    display: none;
    margin-right: 19.375rem;
    padding: 0.625rem;
    width: 12.5rem;
  }

  &__title {
    color: $color-primary;
    font-family: Roboto, sans-serif;
    font-size: 2.25rem;
    margin-left: 17.5rem;
  }
}

.no-tasks {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 14.8125rem;
  text-align: center;

  &__image {
    height: 13.3125rem;
    text-align: center;
  }

  &__message {
    color: $color-task-title;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.task-card {
  background: #ffffff;
  border: 0.0625rem solid #dde2ff;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 10.1875rem;
  opacity: 1;
  padding: 1.25rem;
  position: relative;
  transition: all 0.3s;
  width: 23.875rem;

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    transition: color 0.3s;

    &--check {
      color: $color-task-line-through;

      &:hover {
        color: $color-task-line-through;
      }
    }

    &--delete {
      color: $color-delete-button;

      &:hover {
        color: $color-delete-button-hover;
      }
    }

    &--edit {
      color: $color-edit-button;

      &:hover {
        color: $color-edit-button-hover;
      }
    }
  }

  &__created-at {
    border-radius: 0.3125rem;
    color: $color-task-created;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.025625rem;
    margin-bottom: 0.625rem;
    padding: 0.3125rem;
    text-align: left;
  }

  &__edit-actions {
    display: flex;
    gap: 0.625rem;
    justify-content: flex-start;
    margin-top: 0.9375rem;
  }

  &__edit-button--save {
    border: none;
    border-radius: 0.3125rem;
    color: $color-task-title;
    cursor: pointer;
    padding: 0.3125rem 0.625rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  &__task-actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__task-buttons {
    display: flex;
    gap: 0.625rem;
  }

  &__title {
    border-radius: 0.3125rem;
    color: $color-task-title;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.758125rem;
    margin: 0 0 0.625rem;
    padding: 0.3125rem;
    text-align: left;
  }

  &__completed-tag {
    background-color: $color-task-completed-tag;
    border-radius: 0.3125rem;
    color: #fff;
    display: inline-block;
    font-size: 0.9em;
    padding: 0.3125rem 0.625rem;
  }

  &--completed {
    .task-card__created-at {
      color: $color-task-completed;
    }

    .task-card__title {
      color: $color-task-completed;
      text-decoration: line-through;
    }
  }
}

.task-card__line-through {
  color: $color-task-line-through;
  text-decoration: line-through;
}

.task-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
}

.task-controls__filter {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

.task-form {
  display: none;
  margin-bottom: 1.25rem;
  text-align: center;

  &--show {
    display: block;
  }

  &__input {
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    margin-bottom: 0.625rem;
    margin-right: 0.625rem;
    padding: 0.625rem;
    width: 50%;
  }
}

.task-list {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 48rem) {
    grid-template-columns: 1fr;
  }
}
