* {
  background-color: rgb(254, 254, 254);
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
}

.btn-save {
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"] {
  box-sizing: border-box;
  margin: 5px 0;
  padding: 5px;
}

.task-actions {
  display: flex;
  gap: 5px;
}

.task-card {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  position: relative;
}

.task-form {
  display: none;
  flex-direction: column;
}

.task-form.show {
  display: flex;
}
