body {
  font-family: Roboto, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 5px;
}

header {
  background-color: #f4f4f9;
}

.task-card .line-through {
  text-decoration: line-through;
  color: green;
}

.title {
  color: #32394b;
  font-size: 30px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 72px;
  border-bottom: 1px solid #dde2ff;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo h1 {
  margin: 0;
  color: #7a8dfd;
  font-size: 36px;
  font-family: Roboto, sans-serif;
}

.navbar .search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-container input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
  display: none; /* Hide by default */
}

.add-task-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.add-task button,
.filter-tasks button {
  background-color: #7a8dfd;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-tasks button {
  margin-left: 10px;
}

#filterComplete {
  width: 104px;
}

#filterIncomplete {
  width: 111px;
}

.add-task button:hover,
.filter-tasks button:hover {
  background-color: #357ab7;
}

.task-form {
  display: none;
  margin-bottom: 20px;
  text-align: center;
}

.task-form.show {
  display: block;
}

.task-form input {
  width: 50%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.task-form button {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-form button:hover {
  background-color: #357ab7;
}

.task-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.task-card {
  width: 382px;
  height: 163px;
  gap: 0px;
  border-radius: 5px;
  border: 1px solid #dde2ff;
  opacity: 1;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  transition: all 0.3s;
}

.task-card p {
  font-size: 36px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
  color: #32394b;
  margin: 0 0 10px;
  padding: 5px;
  border-radius: 5px;
}

.task-card .created-at {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  text-align: left;
  color: #bbbdd0;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

.task-card .edit-actions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 15px;
}

.task-card .task-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.task-card .task-buttons {
  display: flex;
  gap: 10px;
}

.task-card .task-actions button,
.task-card .edit-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: color 0.3s;
}

.task-card .task-actions .btn-check {
  color: #0bc375;
}

.task-card .task-actions .btn-check:hover {
  color: #0bc375;
}

.task-card .task-actions .btn-edit {
  color: #ffc107;
}

.task-card .task-actions .btn-edit:hover {
  color: #e0a800;
}

.task-card .task-actions .btn-delete,
.task-card .edit-actions .btn-delete {
  color: #dc3545;
}

.task-card .task-actions .btn-delete:hover,
.task-card .edit-actions .btn-delete:hover {
  color: #c82333;
}

.task-card .edit-actions .btn-save {
  color: #32394b;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.task-card .edit-actions .btn-save:hover {
  background-color: #357ab7;
}

.task-card.isCompleted p {
  text-decoration: line-through;
  color: #28a745;
}

.task-card.isCompleted .created-at {
  color: #28a745;
}

.edit-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: #dc3545;
  margin: 10px 0;
}

.completed-tag {
  padding: 5px 10px;
  background-color: #7a8dfd;
  color: #fff;
  border-radius: 5px;
  font-size: 0.9em;
  display: inline-block;
}

#btnLoadMore,
#btnShowLess {
  display: block;
  margin: 20px auto;
  background-color: #32394b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#btnLoadMore:hover,
#btnShowLess:hover {
  background-color: #357ab7;
}

.add-task button {
  width: 104px;
  height: 36px;
  font-size: 16px;
}

.filter-tasks button {
  background-color: #dde2ff;
  width: 48px;
  height: 36px;
  color: #020203;
  border: 1px solid #e9ebee;
}

.filter-tasks #filterButton {
  width: 100px;
}

.filter-tasks button.active {
  background-color: #021d3c;
  color: #f8f8f8;
}

#filterAll.active,
#filterComplete.active,
#filterIncomplete.active {
  background-color: #4a90e2;
  color: #fff;
}
