$color-background: #f8f9ff;
$color-text: #333;
$color-primary: #7a8dfd;
$color-primary-hover: #357ab7;
$color-secondary: #ffffff;
$color-secondary-hover: #7a8dfd;
$color-delete-button: #dc3545;
$color-edit-button: #dc3545;
$color-edit-button-hover: #dc3545;
$color-delete-button-hover: #dc3545;
$color-secondary-hover: darken($color-secondary, 10%);
$color-dark: #32394b;
$color-dark-hover: darken($color-dark, 10%);
$color-active: #021d3c;
$color-active-hover: #4a90e2;
$color-task-title: #32394b;
$color-task-created: #bbbdd0;
$color-task-completed: #28a745;
$color-task-completed-tag: #7a8dfd;
$color-task-line-through: #0bc375;
$color-error: #dc3545;
