$color-background: #dfe2f3;
$color-text: #333;
$color-primary: #7a8dfd;
$color-primary-hover: #357ab7;
$color-active: #021d3c;
$color-active-hover: #4a90e2;
$color-complete: #ffffff;
$color-complete-border: #e9ebee;
$color-complete-hover: #bbbdd0;
$color-incomplete: #ffffff;
$color-incomplete-border: #e9ebee;
$color-incomplete-hover: #bbbdd0;
$color-load-more: #32394b;
$color-load-more-hover: #357ab7;
$color-edit-button: #ffc107;
$color-edit-button-hover: #e0a800;
$color-delete-button: #dc3545;
$color-delete-button-hover: #c82333;
$color-task-title: #32394b;
$color-task-created: #bbbdd0;
$color-task-completed: #28a745;
$color-task-completed-tag: #7a8dfd;
$color-task-line-through: #0bc375;
$color-error: #dc3545;
